body {
	background-image:url(../img/backgroundimg.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0;

}
nav {
	display:-webkit-inline-box;
	display:-moz-inline-box;
}